<div class="container">
  <h2>Route <%= @route.number %></h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Vehicle ID</th>
        <th>Last Known Location (Lat, Lng)</th>
      </tr>
    </thead>
    <tbody>
      <% @route.vehicles.each do |vehicle| %>
        <tr data-link="<%= vehicle_path(vehicle) %>">
          <td><%= vehicle.vehicle_id %></td>
          <td><%= vehicle.travel_infos.last.coordinate %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>